.emailListContainer {
	transition: all ease-in-out 0.25s;
	margin: 0 1.75rem 0 0;
}
.emailListLoading {
	display: flex;
	justify-content: center;
	color: var(--accentColor);
	font-size: 1.5rem;
	font-weight: 700;
	margin: 0 1.75rem 0 0;
}
.cardContainerRead {
	display: flex;
	border: 0.175rem solid var(--borderColor);
	padding: 0.65rem 1rem;
	margin-bottom: 1.75rem;
	border-radius: 0.65rem;
	background-color: var(--readBgColor);
	transition: all ease-in-out 0.25s;
}
.cardContainerRead:hover {
	cursor: pointer;
	border: 0.175rem solid var(--accentColor);
	transition: all ease-in-out 0.25s;
}
.cardContainer {
	display: flex;
	border: 0.175rem solid var(--borderColor);
	padding: 0.65rem 1rem;
	margin-bottom: 1.75rem;
	border-radius: 0.65rem;
	background-color: white;
	transition: all ease-in-out 0.25s;
}

.cardContainer:hover {
	cursor: pointer;
	border: 0.175rem solid var(--accentColor);
	transition: all ease-in-out 0.25s;
}

.cardImgContainer {
	margin: 0 1rem 0 0;
}

.cardImgContainer div {
	width: 55px;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--accentColor);
	color: white;
	font-size: 1.325rem;
	font-weight: 600;
}

.cardInfo {
	flex-grow: 1;
	font-size: 1rem;
}

.cardInfo p {
	color: var(--textColor);
	font-weight: 500;
	margin-bottom: 0.25rem;
}

.infoContent {
	font-weight: 700;
}

.infoDescription {
	margin: 0.65rem 0 !important;
}

.emailBodyContainer {
	transition: all ease-in-out 0.25s;
	height: calc(100vh - 85px);
	position: sticky;
	top: 85px;
}

.emailBodyContent {
	display: flex;
	border: 0.175rem solid var(--borderColor);
	border-radius: 0.65rem;
	background-color: white;
	padding: 2rem 3rem 0 3rem;
	height: calc(100vh - 81px - 2rem);
}
.emailBodyLoading {
	display: flex;
	justify-content: center;
	border: 0.175rem solid var(--borderColor);
	border-radius: 0.65rem;
	background-color: white;
	padding: 2rem 3rem 0 3rem;
	height: calc(100vh - 81px - 2rem);
	color: var(--accentColor);
}

.emailImgContainer {
	margin: 0 2rem 0 0;
}

.emailImgContainer div {
	width: 65px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--accentColor);
	color: white;
	font-size: 1.45rem;
	font-weight: 600;
}

.emailInfo {
	flex-grow: 1;
	color: var(--textColor);
}
.emailBodyHeadContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.emailCta {
	border: none;
	padding: 0.325rem 1rem;
	margin: 0 0.5rem;
	font-size: 0.9rem;
	font-weight: 600;
	color: var(--textColor);
	background-color: var(--filterBgColor);
	border-radius: 9999px;
	transition: all ease-in-out 0.25s;
}
.emailCtaActive {
	border: none;
	padding: 0.325rem 1rem;
	margin: 0 0.5rem;
	font-size: 0.9rem;
	font-weight: 600;
	color: white;
	background-color: var(--accentColor);
	border-radius: 9999px;
	transition: all ease-in-out 0.25s;
}
.emailCtaActive:hover {
	cursor: pointer;
	transition: all ease-in-out 0.25s;
}

.emailCta:hover {
	cursor: pointer;
	color: white;
	background-color: var(--accentColor);
	transition: all ease-in-out 0.25s;
}

.emailBodyHead {
	font-size: 2rem;
}

.emailBodyText > div > p {
	margin: 0.95rem 0;
}
